<html>
  <head>
    <title>검색결과|잡스크래퍼</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container"></main>
    <h1>{{count}} 개의 {{keyword}} 검색결과</h1>
    <p>인크루트,고용24,잡코리아 사이트의 검색결과를 확인할 수 있습니다.</p>
    <a href="/file">
      <button>데이터 다운로드</button>
    </a>
    <p></p>
    <table>
      <thead data-theme="dark">
        <tr>
          <td>No</td>
          <td>회사</td>
          <td>공고제목</td>
          <td>지역</td>
        </tr>
      </thead>
      <tbody>
        {% for num, job in jobs %}
        <tr>
          <td>{{num+1}}</td>
          <td>{{ job["company"] }}</td>
          <td>
            <a href="{{ job['link']}}" target="_blank">{{ job["title"] }}</a>
          </td>
          <td>{{ job["location"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
